:root {
  /* Color */
  --main-color: #246af2;
  --text-color: #020102;
  --text-grey-color: #333333;
  --text-price-color: #d90429;
  --bg-grey-color: #f6f6f6;
  --bg-color: #fff;
  --bg-dark-color: #2b3342;
  --border-color: #dcdcdc;
  --border-dark-color: #dbdbdb;

  /* Typography */
  --font-primary: "Roboto", sans-serif;
  --fs-1: 3rem;
  --fs-2: 2.6rem;
  --fs-3: 2.2rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.6rem;
  --fs-7: 1.4rem;
  --fs-8: 1.2rem;
  --fs-9: 1rem;

  --fw-300: 300;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /* Transition */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);

  /* Spacing */
  --section-padding: 60px;
}

* {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: var(--font-primary);
  color: var(--text-color);
  padding-block-start: 90px;
}

.logo img {
  height: auto;
  width: 65px;
}

.logo.top {
  margin-left: 2rem;
}
.container {
  padding-inline: 1.5rem;
}

.nav-open-btn {
  color: var(--text-color);
  font-size: var(--fs-3);
}

/* .nav-open-btn:is(:hover, :focus) {
  background-color: var(--bg-dark-color);
} */

.header {
  background: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition-1);
  z-index: 4;
}

.header .container {
  display: flex;
  align-items: center;
  padding-block: 1rem;
}

.header.active {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.navbar {
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  left: -20rem;
  width: 100%;
  max-width: 19rem;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  z-index: 4;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
}

.navbar.active {
  visibility: visible;
  transform: translateX(20rem);
  transition: 0.25s var(--cubic-in);
}

.nav-title {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--bg-color);
  align-items: center;
  padding: 0.3rem 0rem 0.3rem 1rem;
}

.nav-title-logo {
  margin-left: 1rem;
  font-size: var(--fs-7);
  font-weight: 500;
}

.nav-close-btn {
  color: var(--text-grey-color);
  position: absolute;
  top: 12px;
  right: 0;
  padding: 13px;
  transition: var(--transition-1);
}

.nav-close-btn:is(:hover, :focus) {
  color: var(--text-color);
}

.navbar-list {
  padding-left: 1rem;
  border-bottom: 1.5px solid var(--border-dark-color);
}

.navbar-item {
  padding-block: 1.3rem;
}
.navbar-link {
  font-size: var(--fs-9);
  position: absolute;
  left: 4rem;
  font-weight: 500;
}
.nav-action-btn {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: auto;
  gap: 15px;
}

.nav-action-btn i {
  color: var(--main-color);
  font-size: var(--fs-7);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.6);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}
/* 
.navbar {
  display: flex;
  align-items: center;
  height: 4rem;
}

nav {
  flex: 1;
  text-align: left;
  padding-left: 40px;
  font-weight: 500;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 32px;
}

nav ul li a {
  text-decoration: none;
  color: #333333;
}


.banner {
  position: relative;
}
.banner img {
  width: 676px;
  height: auto;
  float: right;
} */
