@import url(/styles/enquiry-page.css);

/* Car Comparison Page  */
.car-comparison-section {
  margin-top: var(--section-spacing-mobile);
  padding-inline: var(--mobile-padding);
}

/* General css for building table  */
.d-flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.flex-start {
  align-items: flex-start;
}

/* Table Data Section */

/* Proportion of the each column  */
.left-table {
  width: 30%;
}

.right-table {
  width: 35%;
}

.left-elements {
  width: 100%;
  padding: 1.2rem 1.2rem 1.2rem 0.4rem;
  border-top: 0.5px solid var(--border-color);
  border-left: 0.5px solid var(--border-color);
  border-right: 0.5px solid var(--border-color);
  background-color: var(--bg-grey-color);
  font-size: var(--fs-11);
}

.image-box {
  height: 6rem;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.product {
  width: 100%;
}

.product-image {
  position: relative;
  text-align: center;
}

.product-image:is(:hover, :focus) {
  cursor: pointer;
}

.product-image img {
  height: 6rem;
  width: 100%;
  object-fit: cover;
}

.product-title {
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 0.5rem;
  font-size: var(--fs-12);
  text-align: center;
  color: white;
  background-color: var(--main-color);
}

.add-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.last-elements {
  border-bottom: 0.5px solid var(--border-color);
}

.right-elements-image {
  border-top: 0.5px solid var(--border-color);
  border-right: 0.5px solid var(--border-color);
  border-bottom: 0.5px solid var(--border-color);
}
.right-elements {
  padding: 1.2rem;
  border-top: 0.5px solid var(--border-color);
  border-right: 0.5px solid var(--border-color);
  font-size: var(--fs-11);
}

.box-top-element {
  color: var(--main-color);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.box-btm-element {
  font-size: var(--fs-11);
}

/* Car Manipulate with JS*/
.product {
  display: none;
}
.product-data {
  display: none;
}

/*  */
/* Modal Section  */
/* Modal Header */
.modal-header {
  display: flex;
  height: 52.3px;
  position: relative;
  background: var(--bg-color);
  color: var(--text-color);
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.05);
  font-size: var(--fs-8);
  font-weight: var(--fw-700);
}

.modal-title {
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* The Close Button */
#close {
  color: #aaa;
  font-size: 28px;
  font-weight: var(--fw-500);
}

#close:hover,
#close:focus {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Content */
.modal-content-car-comparison {
  background-color: #fefefe;
  margin: 5vh auto 2vh auto;
  border: 1px solid var(--border-color);
  width: 90%;
  animation: fadeIn 0.5s;
}

.search-box.car-compa {
  margin-top: 1rem;
}

.cars-container.car-compa {
  margin-top: 1rem;
  overflow: auto;
  margin-bottom: 2rem;
}

/* Modal Car Option  */
.car-image {
  height: 180px;
  object-fit: cover;
}
.car-description-car-compa {
  color: white;
  width: 100%;
  padding: 1rem 0 1rem 0;
  text-align: center;
  background-color: var(--main-color);
  border-radius: 0 0 var(--section-radius) var(--section-radius);
}

/*  */
/* Responsive in Mobile Screen  */
@media (max-width: 992px) {
  .additional {
    display: none;
  }
}

/*  */
/* Responsive in Desktop Screen */
@media (min-width: 992px) {
  .car-comparison-section {
    padding-inline: var(--section-spacing-desktop);
  }

  /* Table Data Resize  */
  .left-elements {
    font-size: var(--fs-9);
    padding-left: 0.8rem;
    font-weight: var(--fw-700);
  }

  .right-elements {
    font-size: var(--fs-9);
  }
  .product-title {
    font-size: var(--fs-10);
  }

  .box-top-element {
    font-size: var(--fs-4);
  }

  .box-btm-element {
    font-size: var(--fs-9);
  }

  .additional {
    display: flex;
  }

  /* Product Image Resize  */
  .image-box {
    height: 12rem;
  }

  .product-image img {
    height: 12rem;
  }

  /* Modal Resize  */
  .cars-container.car-compa {
    margin-top: var(--section-spacing-desktop);
    margin-bottom: var(--section-spacing-desktop);
  }
}
