@import url(/styles/enquiry-page.css);

/* Car Comparison Page  */
.car-comparison-section {
  margin-top: var(--section-spacing-mobile);
  padding-inline: var(--mobile-padding);
}
.d-flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.flex-start {
  align-items: flex-start;
}

.left-elements {
  /* width: 6rem; */
  padding: 1.2rem 1.2rem 1.2rem 0.4rem;
  border-top: 0.5px solid var(--border-color);
  border-left: 0.5px solid var(--border-color);
  border-right: 0.5px solid var(--border-color);
  background-color: var(--bg-grey-color);
  font-size: var(--fs-11);
}

.image-box {
  height: 6rem;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.product-image img {
  object-fit: cover;
  height: 65px;
}

.product-title {
  padding: 0.5rem;
  font-size: var(--fs-12);
  text-align: center;
  color: white;
  background-color: var(--main-color);
}

.add-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.last-elements {
  border-bottom: 0.5px solid var(--border-color);
}

.right-elements-image {
  width: 7rem;
  border-top: 0.5px solid var(--border-color);
  border-right: 0.5px solid var(--border-color);
  border-bottom: 0.5px solid var(--border-color);
}
.right-elements {
  width: 7rem;
  padding: 1.2rem;
  border-top: 0.5px solid var(--border-color);
  border-right: 0.5px solid var(--border-color);
  font-size: var(--fs-11);
}

.box-top-element {
  color: var(--main-color);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.box-btm-element {
  font-size: var(--fs-11);
}

/* Car A  Manipulate with JS*/
.product-image {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.product {
  display: none;
}
.product-data {
  display: none;
}

/*  */
/* Modal Section  */
/* Modal Header */
.modal-header {
  display: flex;
  height: 52.3px;
  background: var(--bg-color);
  color: var(--text-color);
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.05);
  font-size: var(--fs-8);
  font-weight: var(--fw-700);
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Content */
.modal-content-car-comparison {
  background-color: #fefefe;
  margin: 5vh auto 2vh auto;
  border: 1px solid var(--border-color);
  width: 90%;
  animation: fadeIn 0.5s;
}

.search-box.car-compa {
  margin-top: 1rem;
}

.cars-container.car-compa {
  margin-top: 1rem;
  overflow: auto;
  margin-bottom: 2rem;
}

.car-image {
  height: 180px;
  object-fit: cover;
}
.car-description-car-compa {
  color: white;
  width: 100%;
  padding: 1rem 0 1rem 0;
  text-align: center;
  background-color: var(--main-color);
  border-radius: 0 0 var(--section-radius) var(--section-radius);
}
