@import url(/styles/main.css);

/* Header Section  */
.back-button {
  position: absolute;
  font-size: 20px;
  font-weight: var(--fw-700);
  color: var(--text-color);
  z-index: 1;
}

.section-title {
  position: absolute;
  padding-inline-end: 3rem;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: var(--fs-8);
  font-weight: var(--fw-700);
}

/* Product Section  */

.product-section.enquiry {
  padding-inline: var(--mobile-padding);
}

.product-container-top.enquiry {
  flex-direction: row;
  margin-top: 1rem;
}

.product-image-section.enquiry {
  width: 40%;
}

.product-description.enquiry.desktop {
  display: none;
}

.product-description.enquiry {
  margin-top: 0;
  padding-inline: 0;
  padding-inline-start: 0.5rem;
  width: 60%;
}

.product-description-sub-a.enquiry .title {
  font-size: var(--fs-9);
}

.product-description-sub-a.enquiry .price {
  margin-top: 0.5rem;
  font-size: var(--fs-10);
  font-weight: var(--fw-700);
}

.wrap {
  margin-top: 0.5rem;
}
.wrap-row {
  display: flex;
  font-size: var(--fs-10);
  margin-top: 0.5rem;
}

.left-title {
  width: 60%;
  font-size: var(--fs-11);
}

.right-value {
  width: 40%;
  color: var(--text-price-color);
  font-weight: var(--fw-700);
}

.product-description-sub-b.enquiry {
  margin-top: 0;
  background-color: var(--bg-grey-color);
  padding: 1rem;
  font-size: var(--fs-10);
}

/* Form Section  */
.enquiry-form {
  margin-top: var(--section-spacing-mobile);
}
.form {
  margin-top: 1rem;
}
.form > label {
  display: block;
  padding: 0.5rem 0 0.5rem 0;
  font-weight: var(--fw-500);
}
.form > input {
  border: 1px solid var(--border-color);
  padding: 12px;
  border-radius: var(--section-radius);
  margin-bottom: 0.8rem;
  font-size: var(--fs-10);
}

/*  */
/* Modal Section  */
/* The Modal Background Black Screen*/
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6); /*Black with slight decrease opacity*/
}

/* Modal Content*/
.modal-content {
  background-color: #fefefe;
  margin: 20vh auto 0px auto;
  padding: 5vh 5vh 7vh 5vh;
  border: 1px solid var(--border-color);
  width: 80%;
  animation: fadeIn 0.5s;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.modal-content .title {
  text-align: center;
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}

.modal-content .check {
  color: #5dc54d;
  font-size: 80px;
}

.modal-content .title-2 {
  font-size: var(--fs-8);
}

.modal-content .title-3 {
  font-size: var(--fs-10);
  text-align: center;
  color: var(--text-grey-light-color);
}

.modal-content .create-button {
  background-color: var(--main-color);
  padding: 1rem 0 1rem 0;
  width: 100%;
  color: white;
  border-radius: var(--section-radius);
  text-align: center;
  font-weight: var(--fw-500);
}

/*  */
/* Animation Section  */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*  */
/* Responsive in Mobile Screen  */
@media (max-width: 992px) {
  .enquiry-title {
    display: none;
  }

  .nav-open-btn {
    display: none;
  }
  .logo.top {
    visibility: hidden;
  }
}

/*  */
/* Responsive in Desktop Screen */
@media (min-width: 992px) {
  /* Header Section  */
  .back-button {
    display: none;
  }
  .section-title {
    display: none;
  }

  /* Product Section  */

  .enquiry-title {
    display: block;
    padding-inline-start: var(--product-desktop-padding);
    margin-top: var(--section-spacing-mobile);
    font-size: var(--fs-5);
    font-weight: var(--fw-700);
  }
  .product-section.enquiry {
    display: flex;
    align-items: flex-start;
    margin-top: var(--section-spacing-mobile);
    padding-inline: var(--product-desktop-padding);
  }

  /* Reset these selected section css  */
  .product-container-top.enquiry,
  .product-image-section.enquiry {
    all: unset;
  }

  .product-description.enquiry.desktop {
    padding-left: 0;
    display: block;
    width: 100%;
  }
  .product-description.enquiry {
    display: none;
  }

  .product-description-sub-a {
    margin-top: 0px;
    margin-bottom: 2rem;
  }

  /* Form Section  */
  .enquiry-form {
    margin-top: 0;
  }

  /* Divide the Section  */
  .product-container-top.enquiry {
    width: 25%;
  }

  .wrapper {
    width: 35%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .wrap {
    padding: 1rem;
    background-color: var(--bg-grey-color);
  }
  .enquiry-form {
    width: 40%;
    border-left: 1px solid var(--border-color);
    padding-left: 1.5rem;
  }

  /* Reset the Font size  */
  .product-description-sub-a.enquiry .title {
    font-size: var(--fs-7);
  }

  .product-description-sub-a.enquiry .price {
    font-size: var(--fs-7);
  }

  .left-title {
    font-size: var(--fs-9);
  }

  .right-value {
    font-size: var(--fs-8);
  }

  .descrip-benefit {
    font-size: var(--fs-9);
  }

  /* Modal Pop-up Section  */
  .modal-content {
    width: 50%;
  }

  .modal-content .title {
    font-size: var(--fs-5);
  }

  .modal-content .check {
    font-size: 100px;
  }

  .modal-content .title-2 {
    font-size: var(--fs-6);
  }

  .modal-content .title-3 {
    font-size: var(--fs-9);
  }

  .modal-content .create-button {
    font-size: var(--fs-8);
  }
}
