:root {
  /* Color */
  --main-color: #246af2;
  --text-color: #020102;
  --text-grey-color: #333333;
  --text-grey-light-color: #707070;
  --text-price-color: #e9280d;
  --bg-grey-color: #f6f6f6;
  --bg-color: #fff;
  --bg-dark-color: #2b3342;
  --border-color: #dcdcdc;
  --border-dark-color: #dbdbdb;

  /* Typography */
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Verdana", sans-serif;
  --fs-1: 3rem;
  --fs-2: 2.6rem;
  --fs-3: 2.2rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.6rem;
  --fs-7: 1.5rem;
  --fs-8: 1.2rem;
  --fs-9: 1rem;
  --fs-10: 0.8rem;
  --fs-11: 0.6rem;

  --fw-300: 300;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /* Transition */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);

  /* Container Padding */
  --desktop-padding: 7rem;
  --mobile-padding: 1.5rem;

  /* Button Border Radius  */
  --button-radius: 4px;
  --section-radius: 10px;

  /* Spacing  */
  --section-spacing-mobile: 1.5rem;
  --section-spacing-desktop: 3rem;
}

* {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: var(--font-primary);
  color: var(--text-color);
  padding-block-start: 52.4px;
  background-color: white;
}

/*  */
/* Navigation Bar  */
.logo img {
  height: auto;
  width: 50px;
}

.logo.top {
  margin-left: 2rem;
}

button .nav-open-btn {
  color: var(--text-color);
}

.nav-open-btn:is(:hover, :focus) {
  color: var(--bg-dark-color);
}

.header {
  background: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition-1);
  z-index: 4;
  max-height: 70px;
}

.container {
  padding-inline: var(--mobile-padding);
}

.header .container {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.05);
}

.header.active {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.navbar {
  background-color: var(--bg-grey-color);
  position: fixed;
  top: 0;
  left: -20rem;
  width: 100%;
  max-width: 19rem;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  z-index: 4;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
}

.navbar.active {
  visibility: visible;
  transform: translateX(20rem);
  transition: 0.25s var(--cubic-in);
}

.nav-title {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--bg-color);
  align-items: center;
  padding: 0.3rem 0rem 0.3rem 1rem;
}

.nav-title-logo {
  margin-left: 1rem;
  font-size: var(--fs-7);
  font-weight: 500;
}

.nav-close-btn {
  color: var(--text-grey-color);
  position: absolute;
  top: 6px;
  right: 0;
  padding: 13px;
  transition: var(--transition-1);
}

.nav-close-btn:is(:hover, :focus) {
  color: var(--text-color);
}

.navbar-list {
  padding-left: 1rem;
  border-bottom: 1.5px solid var(--border-dark-color);
}

.navbar-item {
  padding-block: 1rem;
}
.navbar-link {
  font-size: var(--fs-9);
  position: absolute;
  left: 3.6rem;
  font-weight: 500;
  color: var(--text-color) !important;
}

.navbar-link:hover {
  color: var(--main-color) !important;
}
.nav-action-btn {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: auto;
  gap: 15px;
}

.nav-action-btn i {
  color: var(--main-color) !important;
  font-size: var(--fs-7);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.6);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

/*  */
/* Homepage Banner  */
.banner {
  display: inline-flex;
  width: 100%;
  height: 10em;
  background-color: var(--bg-grey-color);
}

.banner .container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.home-main-title {
  font-size: var(--fs-8);
  font-weight: 700;
}

.home-sub-title {
  margin-top: 20px;
  font-size: var(--fs-11);
}
.banner img {
  padding-left: 1rem;
  width: auto;
  height: 7rem;
}

/*  */
/* Search Bar Section */
.search-box {
  display: block;
  justify-content: center;
  margin-top: var(--section-spacing-mobile);
  width: 100%;
}

form.nosubmit {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  font-size: var(--fs-11);
  border: none;
  padding: 0;
  border-radius: var(--button-radius);
}

input.nosubmit {
  display: block;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: var(--button-radius);
  width: 60%;
  padding: 11px 4px 11px 40px;
  background: transparent url(/images/search.svg) no-repeat 13px center;
}

.submit {
  background-color: var(--main-color);
  font-size: var(--fs-11);
  font-weight: 500;
  color: white;
  padding: 0.75em 2em;
  border-radius: var(--button-radius);
  text-decoration: none;
  transition: all 0.7s ease;
}

.submit:is(:hover, :active) {
  border-radius: 30px;
}

/*  */
/* Filter Section  */
.filter-box {
  margin-top: var(--section-spacing-mobile);
}

.filter-title {
  display: flex;
  gap: 0.4rem;

  font-weight: 700;
}

.filter-elements {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: center;
  margin-top: 1rem;
}

.filter-button {
  background-color: var(--main-color);
  font-size: var(--fs-11);
  font-weight: 500;
  color: white;
  height: 2.2rem;
  width: 8rem;
  border-radius: var(--button-radius);
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: var(--transition-1);
}

.filter-button:is(:active) {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.18) 0px 2px 4px -1px;
}

/*  */
/* Car List Section  */
.car-section {
  margin-top: var(--section-spacing-mobile);
}
.car-title {
  font-weight: 700;
}

.cars-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin-top: 1rem;
  justify-content: center;
}

.cars-container .box {
  width: 403px;
  object-fit: contain;
  border-radius: var(--section-radius);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: box-shadow 0.3s;
}

.cars-container .box:is(:hover, :active) {
  box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
  cursor: pointer;
}

.car-image img {
  width: 100%;
  height: 226.18px;
  object-fit: cover;
  object-position: center;
}

.car-description {
  position: relative;
  width: 100%;
  display: block;
  margin-top: 1rem;
  padding-bottom: 1.4rem;
  padding-inline: 1rem;
}

.car-description .title {
  margin-bottom: 0.3rem;
  font-weight: 500;
  color: var(--text-color);
}

.car-description .year {
  font-size: var(--fs-10);
  font-weight: 400;
  color: var(--text-grey-light-color);
}

.car-description .mileage {
  font-size: var(--fs-10);
  font-weight: 400;
  margin-top: 0.3rem;
  color: var(--text-grey-light-color);
}

.car-description .price {
  /* font-family: var(--font-secondary); */
  margin-top: 1.4rem;
  color: var(--text-price-color);
  font-weight: 700;
  font-size: var(--fs-8);
}

.car-description .price-monthly {
  /* font-family: var(--font-secondary); */
  margin-top: 0.4rem;
  font-weight: 400;
  font-size: var(--fs-11);
  color: var(--text-grey-light-color);
}

.details-button {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--main-color);
  font-size: var(--fs-9);
  font-weight: 500;
  color: white;
  height: 3.5rem;
  width: 11rem;
  border-radius: 10px 0px 10px 0px;
  text-decoration: none;
}

.footer-subA {
  background-color: var(--main-color);
  color: white;
  padding: 2rem 0 5rem 0;
  margin-top: 5rem;
}

.footer-subA .container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer-element .title {
  margin-top: 0px;
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: var(--fs-8);
}

.footer-element .address {
  line-height: 1.2rem;
}

.footer-element div {
  margin-top: 0.5rem;
  font-weight: 300;
}
.footer-element ul li {
  margin-top: 1rem;
}

.footer-element ul li a {
  color: white;
}

.copyright {
  padding: 20px;
  text-align: center;
  color: white;
  background-color: var(--bg-dark-color);
}
/*  */
/*  */
/* Handle Responsive Desktop Screen Size*/
@media (min-width: 992px) {
  body {
    padding-block-start: 70px;
    background-color: white;
  }
  /* Header  */

  .nav-open-btn,
  .nav-close-btn,
  .navbar .logo,
  .nav-title-logo,
  .navbar-item-icon,
  .nav-action-btn i,
  .overlay,
  .nav-title {
    display: none;
  }

  /* Reset all Navbar CSS */
  .navbar,
  .navbar-list,
  .navbar-link,
  .header .container {
    all: unset;
  }

  .navbar,
  .navbar-list {
    padding-left: 2rem;
    display: flex;
    gap: 3em;
    font-weight: 500;
  }

  .header .container {
    display: flex;
    align-items: center;
    height: 70px;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.05);
  }

  .logo img {
    height: auto;
    width: 55px;
  }

  .logo.top {
    margin-left: 4rem;
  }

  /* Homepage Banner  */
  .home-main-title {
    font-size: var(--fs-1);
  }

  .home-sub-title {
    font-size: var(--fs-5);
  }
  .banner {
    height: 24em;
    z-index: 1;
  }

  .banner img {
    height: 15rem;
  }

  /* Searbar Section  */
  .search-box {
    display: flex;
    justify-content: center;
  }

  form.nosubmit {
    height: 40px;
    width: 80%;
  }

  input.nosubmit {
    font-size: var(--fs-10);
  }

  button.submit {
    width: 10rem;
    font-size: var(--fs-10);
  }

  /* Filter Section  */
  .filter-title {
    display: none;
  }

  .container.filter-sec {
    padding-inline: var(--desktop-padding);
  }
  .filter {
    border-radius: var(--section-radius);
    position: relative;
    min-width: 90%;
    margin-top: -4rem;
    background-color: white;
    padding: 0.5rem 4rem 2rem 4rem;
    z-index: 3;
    box-shadow: 0 4px 26px rgb(0 0 0 / 10%);
  }

  .filter-button {
    height: 2.5rem;
    width: 10rem;
    font-size: var(--fs-10);
    font-weight: 600;
    color: var(--text-color);
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: none;
    transition: all 0.3s ease;
  }

  .filter-button:is(:hover, :active) {
    border: 1px solid var(--main-color);
  }

  /* Car List Section  */

  .car-section {
    display: block;
    min-width: 90%;
    margin-top: var(--section-spacing-desktop);
  }
  .car-section .container {
    padding-inline: var(--desktop-padding);
  }

  .car-title {
    font-size: var(--fs-7);
  }

  .footer-subA .container {
    flex-direction: row;
    padding-inline: 8%;
    gap: 10rem;
  }
}
