@import url(/styles/main.css);
:root {
  /* Container Padding */
  --product-desktop-padding: 3rem;
}

/*  */
/* Product Image Section */
.product-container-top {
  display: flex;
  flex-direction: column;
}

.product-image-section {
  display: flex;
  flex-direction: column;
}
.product-image-view {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.previousBtn,
.nextBtn {
  cursor: pointer;
  position: absolute;
  top: 48%;
  padding-inline: 1rem;
  color: var(--main-color);
  font-size: 24px;
  transition: font-size var(--transition-1);
  user-select: none;
  -webkit-user-select: none;
}

/* Next button to right  */
.nextBtn {
  right: 0;
}

.previousBtn:active,
.nextBtn:active {
  font-size: 30px;
}
.previousBtn::after,
.nextBtn::after {
  clear: both;
}

/* Image number indicator */
.imageNumber {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  top: 20px;
  left: 20px;
}

.product-image-gallery {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 1rem;
}

/* Add a transparency blurry effect for thumnbail images */
.thumbnailImage {
  width: 100%;
  border-radius: var(--button-radius);
  opacity: 0.6;
  border: 4px solid var(--main-color);
  object-fit: cover;
  object-position: center;
}

.active,
.thumbnailImage:hover {
  opacity: 1;
}

.product-image-gallery {
  display: none;
}

/*  */
/* Product Description Section Sub A */
.product-description {
  margin-top: 0.5rem;
  padding-inline: var(--mobile-padding);
  width: 100%;
}
.product-description-sub-a {
  margin-bottom: 1rem;
}
.product-description-sub-a .title {
  font-size: var(--fs-8);
  font-weight: 500;
}

.product-description-sub-a .price {
  font-size: var(--fs-8);
  font-weight: 500;
  color: var(--text-price-color);
  margin-top: 0.8rem;
}

.product-description-sub-a .price-monthly {
  margin-top: 0.4rem;
  font-size: var(--fs-10);
  font-weight: 500;
  color: var(--text-price-color);
}

/*  */
/* Product Description Section Sub B */

.product-description-sub-b {
  margin-top: 1.3rem;
}
.descrip-benefit {
  /* padding-inline: 1rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.descrip-benefit i {
  color: var(--main-color);
}

.enquiry-button-mobile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-dark-color);
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 72px;
  padding-inline: var(--mobile-padding);
}

.enquiry-button-mobile {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--main-color);
  font-size: var(--fs-9);
  font-weight: 500;
  color: white;
  text-decoration: none;
  height: 70%;
  width: inherit;
  border-radius: var(--section-radius);
  text-align: center;
  transition: background-color var(--transition-1);
}

.enquiry-button-mobile:active {
  background-color: var(--bg-dark-color);
}

.enquiry-button-desktop {
  display: none;
}

.product-details {
  margin-top: var(--section-spacing-mobile);
}

.product-details-single-line {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  border-radius: var(--section-radius);
  box-shadow: rgba(9, 30, 66, 0.13) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  align-items: center;
}
.product-details-left-box {
  width: 45%;
}

.product-details-left {
  margin-left: 2rem;
  padding: 1rem 0 1rem;
  font-size: var(--fs-10);
  font-weight: 500;
}

.product-details-right {
  margin-left: 1rem;
  padding: 1rem 0 1rem;
  font-size: var(--fs-10);
}

.product-container-bottom {
  padding-inline: var(--mobile-padding);
  margin-top: var(--section-spacing-mobile);
}

/*  */
/*  */
/* Handle Responsive Desktop Screen Size*/
@media (min-width: 992px) {
  .product-section {
    padding-inline: var(--product-desktop-padding);
  }
  .product-container-top {
    flex-direction: row;
  }

  /* Image Section  */
  .product-image-section {
    max-width: 50%;
  }

  .imageNumber {
    font-size: var(--fs-8);
    left: 6%;
    top: 9%;
  }

  /* Next & previous buttons */
  .previousBtn,
  .nextBtn {
    font-size: 40px;
  }

  /* Enlarge Button when hover  */
  .previousBtn:is(:hover),
  .nextBtn:is(:hover) {
    font-size: 50px;
  }

  .product-image-gallery {
    display: flex;
  }
  /*  */
  /* Product Description  */

  .product-description {
    padding-inline: 0;
    padding-inline-start: 3rem;
  }
  .product-description-sub-a {
    margin-top: var(--section-spacing-mobile);
  }
  .product-description-sub-a .title {
    font-size: var(--fs-5);
    font-weight: 700;
  }

  .product-description-sub-a .price {
    font-size: var(--fs-6);
  }

  .product-description-sub-a .price-monthly {
    font-size: var(--fs-9);
  }

  .product-description-sub-b {
    background-color: var(--bg-grey-color);
    padding: var(--mobile-padding);
  }

  /* Description Benefit  */
  .descrip-benefit {
    font-size: var(--fs-8);
    margin-bottom: 1.5rem;
  }

  /* Product Details  */
  .product-details-left-box {
    width: 35%;
  }
  .product-details-left {
    width: 100%;
    font-size: var(--fs-9);
    font-weight: 500;
  }

  /* Add (AT/MT) Text into the transmission data  */
  .product-details-left.transmission::after {
    content: " (AT/MT)";
  }

  .product-details-left.manufacture span {
    display: none;
  }

  /* Change to full text for manufacture year  */
  .product-details-left.manufacture::after {
    content: "Manufacture Year";
  }
  .product-details-right {
    margin-left: 2rem;
    font-size: var(--fs-9);
    font-weight: 500;
  }

  /* Enquiry Button  */
  .enquiry-button-mobile,
  .enquiry-button-mobile-wrapper {
    display: none;
  }

  .enquiry-button-desktop {
    display: block;
    width: 100%;
    background-color: var(--main-color);
    font-size: var(--fs-7);
    font-weight: 500;
    color: white;
    padding: 1.5rem 0 1.5rem 0;
    text-decoration: none;
    margin-top: var(--section-spacing-desktop);
    border-radius: var(--button-radius);
    transition: background-color var(--transition-1);
    text-align: center;
  }

  .enquiry-button-desktop:hover {
    background-color: var(--bg-dark-color);
  }

  .product-container-bottom {
    margin-top: var(--section-spacing-desktop);
    padding-inline: 4rem;
  }
  .product-details-left-box {
    background-color: var(--bg-dark-color);
    font-weight: 500;
    color: white;
    border-radius: var(--section-radius) 0 0 var(--section-radius);
  }
}
